/* Reset css */
html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Variables */

:root{
    --bg-color: whitesmoke;
    --darkbg-color: #323536;
    --txt-color: black;
    --main-color: darkcyan;
}

/* Body and background */

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url("/assets/img/landscape-bg.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    transform: scale(1.0);
}

/* Utilities */

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--main-color), rgba(0, 0, 0, 0));
}

.dkmode-transition{
    transition: all 1s;
}

.hide{
    opacity: 0;
    visibility: hidden;
}

.rows-model{
    display: flex;
    justify-content: space-between;
}

.title-color{
    color: var(--main-color);
}

/* Header */

.header{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    font-size: 24px;
    color: var(--txt-color);
    background-color: var(--bg-color);
    animation-name: header-show;
    animation-duration: 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img{
    padding: 10px;
    height: 56px;
    width: 64px;
    max-height: 50%;
    max-width: 50%;
}

.nav-style{
    padding-right: 10px;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: var(--txt-color);
    transition: color 0.3s linear;
}

.nav-style:visited{
    color: var(--txt-color);
}

/* Main container */

.main-container{
    border-radius: 25px;
    padding: 3%;
    max-width: 80%;
    margin: 10% auto;
    color: var(--txt-color);
    text-align: center;
    background-color: var(--bg-color);
    animation-name: container-show;
    animation-duration: 1s;
}

/* About me section */

.about-me img{
    width: 320px;
    height: 320px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 100%;
    border: 1px black solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; 
}

.about-me h1{
    font-size: 32px;
}

.about-me p{
    font-size: 24px;
    text-align: justify;
}

.skills-style{
    width: 100%;
}

.skills-style h2{
    font-size: 24px;
}

.skills-style li{
    font-size: 20px;
    text-align: left;
}

/* Portfolio section */

.dropdown-panel{
    margin: 40px auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px black solid;
    border-radius: 25px;
    transition: border-color 0.3s;
}

.dropdown-panel label{
    cursor: pointer;
}

.dropdown-panel:active{
    border-color: var(--main-color);
}

.input-txt h2{
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    color: var(--txt-color);
    transition: color 0.3s;
}

.input-txt:active h2{
    color: var(--main-color);
}

.input-txt img{
    display: inline-block;
    width: 16px;
    height: 16px;
    max-width: 10%;
    max-height: 10%;
    transition: transform 0.5s;
}

.panel-content{
    display: flex;
    width: 100%;
    height: 0;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.panel-content p{
    margin: auto 0;
    padding: 20px;
    width: 50%;
    font-size: 24px;
    text-align: justify;
}

.panel-content a{
    color: var(--main-color);
    text-decoration-color: transparent;
    transition: color 1s, text-decoration-color 0.3s linear;
}

.panel-content img{
    margin: auto 0;
    padding: 20px;
    width: 50%;
    height: 100%;
}

.touch{
    position: absolute;
    height: 0;
    opacity: 0;
}

#website:checked + .panel-content{
    height: 400px;
    opacity: 100%;
}

/* Footer */

.footer{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: calc(100% - 10%);
    margin: 0 auto;
    padding: 15px;
    color: var(--txt-color);
    background-color: var(--bg-color);
    animation-name: opacity100;
    animation-duration: 1s;
}

.footer h2{
    text-align: center;
    font-size: 20px;
}

.contact-me{
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 600;
}

.contact-me a{
    color: inherit; 
    text-decoration: none;
    transition: color 0.3s linear;
}

/* Light bulb and up arrow */

.bulb{
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 48px;
    width: 48px;
    max-width: 13%;
    max-height: 12%;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 100%;
    border: 2px black solid;
    cursor: pointer;
    animation-name: show-up;
    animation-duration: 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all 0.5s;
}

.bulb img{
    width: 32px;
    height: 32px;
    max-width: 100%;
    max-height: 100%;
}

.bulb:active{
    transform: scale(1.3);
    transform-origin: center;
}

.up-arrow{
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 48px;
    width: 48px;
    max-width: 13%;
    max-height: 12%;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 100%;
    border: 2px black solid;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; 
    transition: all 0.5s;
}

.up-arrow img{
    width: 32px;
    height: 32px;
    max-width: 100%;
    max-height: 100%;
}

.up-arrow:active{
    transform: scale(1.3);
    transform-origin: center;
}

/* Animations */

@keyframes show-up{
    from {bottom: -20px; opacity: 0%;}
    to {bottom: 10px; opacity: 100%;}
}

@keyframes opacity100 {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes container-show{
    from {margin-top: 0%; opacity: 5%;}
    to {margin-top: 10%; opacity: 100%;}
}

@keyframes header-show{
    from {margin-top: -10%; opacity: 5%;}
    to {margin-top: 0%; opacity: 100%;}
}

@keyframes footer-show {
    from {margin-bottom: -10%; opacity: 5%;}
    to {margin-bottom: 0%; opacity: 100%;}
}

/* Media when there's hover available */

@media (hover: hover) {
    .bulb:hover {
        transform: scale(1.2);
        transform-origin: center;
    }

    .nav-style:hover,
    .input-txt:hover h2{
        color: var(--main-color);
    } 


    .up-arrow:hover{
        transform: scale(1.2);
        transform-origin: center;
    }

    .contact-me a:hover{
        color: var(--main-color);
        text-decoration: underline;
    }

    .dropdown-panel:hover{
        border-color: var(--main-color);
    }

    .panel-content a:hover{
        text-decoration-color: var(--main-color);
    }
}

/* Media about screen size */

@media (max-width: 800px){
    header,
    .rows-model{
        flex-direction: column;
    }

    nav{
        padding: 10px;
    }

    .main-container{
        max-width: 100%;
    }

    .about-me h1{
        font-size: 24px;
    }

    .about-me p,
    .skills-style li{
        font-size: 16px;
    }

    .skills-style h2{
        font-size: 20px;
        text-align: left;
    }

    .contact-me h2,
    .input-txt h2{
        font-size: 20px;
    }

    .contact-me{
        font-size: 12px;
    }

    .contact-me{
        flex-direction: column;
        text-align: center;
    }

    .input-txt img{
        transition: transform 0s;
    }

    .panel-content{
        flex-direction: column;
        transition: height 0s;
    }

    .panel-content p{
        font-size: 20px;
        width: 100%;
    }

    .panel-content img{
        width: 100%;
    }

    #website:checked + .panel-content{
    height: fit-content;
    opacity: 100%;
    }

}

/* Media when screen size's too small */

@media (max-width: 180px){
    *{
        line-break: anywhere;
    }
}
